In [1]:
import pandas as pd
import csv
from sklearn.linear_model import LinearRegression

In [55]:
df = pd.read_csv('./Train.csv', index_col=0)

In [56]:
df.head()

,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
id,,,,,,,,,,,,,,,,,,,,,
0,2011-01-01,531,NaN,12,35,1,1,25.0,NaN,1,...,0,0,0,0,0,0,0,0,0,3721000
1,2011-01-01,385,2.0,15,46,1,2,15.0,1.0,1,...,0,0,0,0,0,0,0,0,0,7431000
2,2011-01-01,51,0.0,1,53,3,0,30.0,0.0,7,...,0,0,0,0,0,0,0,0,0,3081000
3,2011-01-01,76,0.0,1,60,3,0,30.0,0.0,2,...,0,0,0,0,0,0,0,0,0,3847000
4,2011-01-01,114,0.0,2,43,2,0,30.0,0.0,1,...,0,0,0,0,0,0,0,0,0,2323000

In [57]:
# df.insert(1, 'year', pd.to_datetime(df['date']).dt.year)
# df.insert(2, 'month', pd.to_datetime(df['date']).dt.month)

In [59]:
df.drop(columns=['date', 'street_id','n_photos', 'kw1', 'kw2', 'kw3','kw4','kw5','kw6','kw7','kw8', 'kw9','kw10','kw11','kw12','kw13'], inplace=True)
df.head()

    build_tech  floor  area  rooms  balcon  metro_dist  g_lift    price
id
0          0.0     12    35      1       1        25.0     0.0  3721000
1          2.0     15    46      1       2        15.0     1.0  7431000
2          0.0      1    53      3       0        30.0     0.0  3081000
3          0.0      1    60      3       0        30.0     0.0  3847000
4          0.0      2    43      2       0        30.0     0.0  2323000

In [ ]:
#date_col = []
#for i in range(len(df['year'])):
    #date_col += [df['year'][i] + df['month'][i]/10]
# df.insert(1, 'date', date_col)

In [60]:
df.fillna(df.median(), inplace=True)
df.head()

    build_tech  floor  area  rooms  balcon  metro_dist  g_lift    price
id
0          0.0     12    35      1       1        25.0     0.0  3721000
1          2.0     15    46      1       2        15.0     1.0  7431000
2          0.0      1    53      3       0        30.0     0.0  3081000
3          0.0      1    60      3       0        30.0     0.0  3847000
4          0.0      2    43      2       0        30.0     0.0  2323000

In [ ]:
# df.drop(columns=['year', 'month'], inplace=True)

In [61]:
x = df.iloc[:,:-1]

In [62]:
x.head(5)

    build_tech  floor  area  rooms  balcon  metro_dist  g_lift
id
0          0.0     12    35      1       1        25.0     0.0
1          2.0     15    46      1       2        15.0     1.0
2          0.0      1    53      3       0        30.0     0.0
3          0.0      1    60      3       0        30.0     0.0
4          0.0      2    43      2       0        30.0     0.0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.preprocessing import PolynomialFeatures

In [63]:
pf = PolynomialFeatures(degree=4)

In [64]:
y = df.iloc[:,-1]

In [65]:
y.head()

id
0    3721000
1    7431000
2    3081000
3    3847000
4    2323000
Name: price, dtype: int64

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=3)

In [67]:
x_poly = pf.fit_transform(x_train)
x_poly

array([[  1.,   0.,   3., ..., 900.,  30.,   1.],
       [  1.,   1.,   5., ...,   0.,   0.,   0.],
       [  1.,   0.,   5., ...,   0.,   0.,   0.],
       ...,
       [  1.,   1.,   4., ..., 625.,  25.,   1.],
       [  1.,   0.,   2., ...,   0.,   0.,   0.],
       [  1.,   0.,   4., ..., 900.,  30.,   1.]])

In [16]:
from sklearn.linear_model import Ridge, Lasso

In [79]:
lr = LinearRegression()
lasso = Lasso(alpha=1)
ridge = Ridge(alpha=1)

In [69]:
lr.fit(x_poly, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [80]:
lasso.fit(x_poly, y_train)

/home/francuz-v/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.016083937827613e+17, tolerance: 142691314672326.22
  positive)

Lasso(alpha=1, copy_X=True, fit_intercept=True, max_iter=1000, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [71]:
ridge.fit(x_poly, y_train)

/home/francuz-v/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=9.37685e-22): result may not be accurate.
  overwrite_a=True).T

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [72]:
lasso.coef_

array([ 0.00000000e+00,  1.35928143e+06,  1.24876049e+04,  3.21732038e+05,
       -2.53351131e+06, -3.66282252e+05, -7.06534055e+04,  1.16035156e+04,
       -8.37023845e+05, -1.89693687e+04,  6.18517439e+03, -2.23361473e+05,
       -8.23595581e+05, -4.67490747e+03,  8.68766842e+05, -1.81781097e+03,
        4.03349969e+03, -7.13000609e+04,  5.68942677e+04, -1.68566012e+03,
       -4.04460112e+04,  5.20832983e+01, -1.28338526e+04, -1.20926834e+03,
        2.09873093e+01, -4.10747368e+03,  2.38106444e+04, -1.22779486e+05,
       -1.17872619e+03,  9.95036106e+04,  8.90467947e+05,  8.10936481e+03,
       -4.41081904e+05,  3.37538659e+03, -5.60303194e+03,  1.92005994e+05,
        2.46377136e+05, -1.11371151e+04, -7.33511417e+03,  1.55746384e+05,
        1.08531667e+04, -6.53836400e+03,  1.29140242e+05, -4.44047557e+03,
        3.44877849e+03, -2.06082904e+04, -1.59904670e+04, -3.50089250e+03,
        1.36948517e+04, -9.91498628e+01, -2.43550196e+03,  5.55280433e+03,
       -3.07172948e+02,  7.42942046e+03,  1.37292730e+05, -2.79013588e+03,
       -1.75959834e+04,  4.25220256e+03,  1.88093423e+05,  3.12663405e+04,
       -6.22990818e+05,  1.21911753e+03, -9.37402060e+03, -7.15579309e+05,
        9.35556255e+01, -2.11088731e+01, -2.73728855e+02, -5.72590351e+03,
        1.25376106e+02,  3.56668248e+02, -3.71239282e+00, -1.61260573e+02,
       -4.65132153e+02,  5.54012962e+01, -1.17949893e+03,  8.94159665e+03,
        3.63823228e+03, -6.96241961e+02,  1.03974268e+04,  9.85914140e+02,
       -1.45925079e+02,  3.88014281e+04, -4.00740367e+01, -3.49103361e+02,
        6.47301083e+04, -8.47623026e-01, -2.69694367e+01, -9.85662626e+01,
        3.53147382e+00,  1.87348691e+01, -1.00717961e+03, -1.96248459e+03,
       -1.29493459e+02,  1.38550819e+03,  5.10199838e+03,  3.13517928e+00,
        1.04305821e+04, -1.17252644e+01, -4.27672606e+02,  1.02922280e+04,
        3.48018586e+04,  4.93344337e+04, -5.18003841e+03,  3.53136559e+04,
        6.10370536e+04, -9.06059262e+03, -3.53480353e+04,  7.68835314e+02,
       -3.23430496e+03, -4.89810174e+04, -1.10880354e+05,  1.76815975e+03,
       -1.20665419e+05,  6.30190390e+02, -3.25298274e+04,  5.13155571e+05,
       -1.58837452e+01,  1.90273282e+02, -8.92933058e+03, -8.31753049e+04,
        1.53191581e+05,  1.85437391e+03, -8.15761428e+03,  1.65507877e+05,
        1.28092352e+05,  4.17895744e+03, -1.19311937e+05,  1.37872596e+03,
       -1.64547451e+03,  2.49063452e+04,  2.44045121e+04, -1.90012700e+02,
       -1.37579941e+04,  6.75870957e+01, -1.13981346e+03,  2.35730268e+03,
       -4.45708962e+02,  8.35702769e+03,  7.49300339e+04,  1.05116471e+05,
       -9.42208048e+03, -6.33100811e+04, -1.37590222e+05,  5.89554321e+03,
       -2.04146309e+05,  6.36580220e+02, -1.15739979e+04,  5.63322183e+04,
        7.67532120e+01, -1.00796492e+00,  4.90345350e+02, -2.07535089e+02,
       -2.27309177e+01,  9.98260288e+02,  4.51969862e+00, -3.91965786e+02,
       -2.97653122e+02,  1.30240428e+01, -2.12407984e+02, -6.11798388e+03,
        9.09066379e+03,  3.08110474e+02, -1.02763965e+04,  1.46973919e+03,
       -8.29528539e+02, -5.29749875e+03,  7.87860808e+01,  1.20068058e+03,
        6.33351625e+03,  1.17208189e+00, -2.76356787e+01,  9.30319793e+01,
       -5.28761951e+00, -6.88455564e+01, -1.23319943e+02, -2.16249918e+03,
        1.54495100e+02, -2.17066869e+03,  1.20109389e+03, -9.64116042e+00,
       -2.11380402e+03,  4.44776429e+01, -4.91887387e+02,  7.33367008e+03,
        2.49111456e+03, -2.16829612e+05,  5.52837732e+03,  1.31549602e+05,
        1.08619855e+05,  2.85942761e+03,  6.41943263e+04, -3.06861969e+02,
       -5.36697012e+03, -1.54652564e+05, -2.58244123e+05, -3.70259657e+03,
        3.67154697e+05, -7.71968435e+02,  9.43036164e+03,  1.96926128e+05,
       -5.47305039e+01,  1.35880054e+02,  3.70286501e+04, -8.26915514e+05,
       -7.72277690e+00,  5.70206357e+00,  2.72124662e+01, -2.50639268e+01,
        2.41677358e+00, -5.37835677e+01, -2.94897204e+00,  1.56476853e+01,
        1.48172774e+01, -1.31417074e-02,  1.29029428e+02, -8.16724034e+01,
        2.47032210e+02, -3.90333694e+00, -2.00666638e+03,  3.27957395e+03,
       -6.50508112e+01, -2.00331328e+03, -5.58773241e+00, -6.54973328e+01,
       -1.03790191e+03,  2.96123637e-02,  4.13344824e-01,  8.08794806e-01,
       -3.87326747e-01,  1.93379431e-01,  7.40952005e+01, -2.43715657e+02,
        4.46944556e+00, -1.95996526e+01, -9.45122572e+00,  3.85278002e+01,
       -1.28583522e+03,  1.96390502e+00,  3.84024388e+01, -1.13094500e+03,
        3.52044395e+03, -7.01914016e+03, -2.84269544e+02,  1.25757488e+04,
        1.19317222e+04, -3.06967052e+02,  3.72653495e+04, -1.08499508e+01,
       -1.21315496e+02, -4.50916675e+04, -1.94882111e+04, -5.70931656e+02,
        4.76720845e+04,  5.22770880e+01, -1.10409319e+03, -5.04662353e+04,
        8.07252412e-02, -3.78875898e+01,  1.64540049e+03,  4.91243540e+04,
        2.88865967e-03, -9.06844333e-03,  3.83154001e-01, -1.91220055e-02,
       -5.64417976e-01, -2.06978010e+00, -1.24941164e+01,  9.27880406e-01,
       -2.40516117e+00, -2.90615366e+01, -4.54306028e+00,  5.17573000e+01,
        1.61074346e-01, -1.12868890e+00,  4.69858890e+01, -1.94199077e+02,
        3.03524044e+02, -1.15237048e+01,  2.30242109e+02,  5.40361198e+02,
        3.06718069e+01, -4.01113725e+02, -3.78291890e+00, -8.29211010e+01,
        2.37111368e+02, -1.14918065e+03,  6.12664381e+01, -9.03249334e+03,
        6.02299275e+00,  1.59846627e+03, -1.34106663e+04, -2.50119624e+00,
       -2.53883708e+01,  1.02406683e+03,  9.02133392e+02,  7.87146352e+03,
        5.02317104e+04,  4.72045052e+01, -2.59103652e+03, -4.22253116e+04,
        6.03725227e+03, -7.36945888e+04,  1.57322726e+02, -6.38980271e+02,
       -4.96601177e+04,  1.63833164e+04,  5.67300389e+02, -7.51743375e+04,
       -6.00616712e+02, -9.63858632e+03,  2.25835621e+05,  1.08314264e+01,
        1.88046722e+02,  6.17236057e+03, -1.62222693e+05, -9.13618016e+04,
        3.32093872e+03,  6.39363914e+03, -6.54688777e+02,  9.89882175e+02,
        2.22780305e+05,  5.05799818e+00,  1.21957481e+02, -2.54040298e+04,
        3.28773408e+05,  6.19997484e-03, -5.47715609e+00,  9.26288888e+02,
       -1.47461564e+04, -2.87941187e+05])

In [73]:
ridge.coef_

array([ 0.00000000e+00,  7.88337406e+05,  1.61651971e+05,  1.89032380e+05,
        7.46331092e+06,  1.08268132e+06, -1.89929506e+04,  5.26215350e+04,
        7.17787498e+05, -6.21692272e+04, -5.38443805e+04,  1.48230102e+06,
       -1.24457048e+06, -2.29326637e+04, -2.73277389e+05, -2.17594804e+04,
        1.31737569e+04, -3.75140165e+05,  4.37083198e+04, -6.77995502e+03,
        8.00497743e+04,  1.86285485e+04, -8.84814087e+05,  4.59514465e+04,
       -1.40756166e+04,  1.82176345e+03,  4.57730432e+06, -2.74907515e+06,
        5.72179452e+05, -1.42815563e+05,  8.73043521e+05,  1.55497460e+03,
        1.08391035e+05, -1.19988227e+04, -4.44290084e+04,  5.26215349e+04,
        5.76687722e+05, -3.66228405e+04, -4.37144534e+04,  8.86859320e+05,
       -7.62166826e+05, -1.06320849e+04, -2.08478579e+05, -1.70226644e+04,
        2.26210782e+04, -4.59150981e+05,  3.65163690e+04, -4.57968657e+03,
        2.58646444e+04,  1.82034491e+02,  2.56071154e+04,  1.71734088e+04,
       -6.53147088e+03,  1.60991205e+04, -7.70873579e+05,  2.81903136e+05,
        7.36215418e+04, -1.64453546e+05, -7.62166821e+05,  8.91662570e+04,
       -1.94813270e+05,  7.10980480e+03,  2.53245496e+04, -2.73277388e+05,
        1.44285901e+03, -2.87469148e+02,  5.42381271e+03, -7.03782423e+03,
        6.14422764e+02, -5.99443512e+02, -3.69522635e+02,  1.22657339e+04,
       -7.97375841e+03,  2.65879376e+02, -5.27297589e+03, -3.35106350e+04,
        2.19628940e+05,  6.79742402e+01,  3.98509940e+04,  1.39182911e+04,
       -2.06415695e+02, -3.74851372e+03, -3.69904481e+02, -1.81933990e+03,
        8.00497742e+04, -3.76444209e+02,  2.04656475e+04, -2.48128798e+03,
        1.58938363e+02, -4.75372892e+02, -3.04473325e+05,  7.15765366e+04,
       -7.68555292e+02,  2.45773509e+04,  2.26453478e+04,  2.37811841e+03,
        7.89487354e+03,  3.68206977e+02,  2.30088197e+03,  1.82194103e+03,
        2.58028954e+06,  7.59024287e+05, -2.31796671e+05, -2.56800123e+05,
       -1.47575285e+06, -5.62001189e+04, -1.47255395e+05, -7.46180652e+03,
       -1.22023296e+04, -1.42815567e+05,  4.53767951e+05,  4.73596201e+03,
        1.27729551e+05, -2.34463458e+03, -4.19538577e+04,  1.08391035e+05,
        6.07549160e+02,  1.92213481e+03, -4.44290159e+04,  5.26215346e+04,
        2.94488073e+05,  1.44703431e+04, -2.34522514e+04, -3.04024203e+05,
        2.02640467e+05,  1.39729343e+04, -7.88809405e+04,  4.04081721e+03,
       -6.43706949e+03,  1.22697685e+05,  4.08800065e+03,  2.63307602e+03,
       -1.05962563e+04, -7.43270654e+02,  6.30861469e+04,  1.67127312e+02,
        1.25307128e+03,  2.81254676e+04, -4.76690695e+05,  5.40539845e+04,
       -4.99800630e+04, -5.46800719e+05,  2.02640469e+05, -6.22020850e+03,
        1.80883902e+04, -9.58312918e+02, -5.35034239e+03, -2.08478579e+05,
        2.63673535e+02, -1.05311691e+02,  3.25288191e+03, -5.94519400e+01,
        2.48932681e+00,  1.17755725e+03, -3.84943152e+00, -1.73357098e+03,
       -1.16437628e+03, -1.56412926e+02, -1.42928973e+03,  4.27348723e+04,
        2.71158351e+04,  4.42227729e+03,  8.98863528e+03,  4.08800407e+03,
       -1.34059631e+03, -1.81621719e+03,  5.39860450e+01,  8.50913172e+02,
        2.58646470e+04, -2.50045739e+01,  2.96011913e+03, -8.21744178e+01,
       -1.69378528e+01, -5.35041766e+01, -1.10924540e+05,  4.48485640e+03,
        7.78206455e+02, -7.95976800e+03,  1.66765922e+02,  4.80639772e+02,
        3.33139470e+03,  1.69542418e+02, -1.28472843e+03,  1.60989289e+04,
        1.17706009e+06, -2.98381985e+05,  2.36474815e+03,  2.32968359e+05,
        5.40539839e+04, -9.47131474e+03, -2.97120181e+04, -2.51305262e+03,
        1.41452255e+04, -1.64453539e+05,  2.02640472e+05, -6.22021097e+03,
        1.80883865e+04, -1.68839061e+03,  9.58563493e+03, -1.94813271e+05,
       -1.54190542e+02, -5.33882495e+02,  2.53245775e+04, -2.73277388e+05,
       -3.98733212e+01,  2.17080814e+01, -4.13547755e+02, -2.46107970e+02,
        4.34747660e+00, -1.47729109e+02, -6.86822189e+00,  3.12132576e+02,
        8.24694426e+01, -2.38455110e+01,  3.47623536e+02, -3.73454013e+03,
       -1.96677165e+03,  4.14974640e+02, -6.52892108e+03,  6.82632756e+03,
        9.38059732e+01, -2.74432030e+03, -7.92872804e+00, -3.09985650e+01,
       -5.99407462e+02, -6.06580395e-01,  1.85778051e+02, -1.86112765e+01,
        9.98350157e-01, -2.54460835e+01, -7.55303467e+03,  7.18844010e+01,
       -7.66021124e+01,  2.67664094e+03,  4.77097828e+03,  2.47626550e+02,
       -3.16622709e+02,  4.64520073e+00,  6.97670709e+01, -5.27419351e+03,
        7.55563680e+04, -6.03596838e+03,  5.64799213e+02, -2.88457326e+04,
       -9.93793452e+04, -5.35098017e+03,  1.16029035e+04, -1.45884235e+02,
        1.52072416e+01,  3.98510094e+04, -4.56618216e+04, -4.27090806e+03,
        4.43114350e+04,  6.80466644e+01, -7.65426987e+02, -3.74848653e+03,
        9.63690137e+00,  2.90998175e+01, -1.81939291e+03,  8.00497658e+04,
       -4.03303572e-01,  1.43252614e+02, -3.27748656e+01,  8.73887781e-01,
       -9.38427187e+00, -8.71941880e+03,  3.15426403e+03, -8.22502069e+01,
        7.64652716e+02,  2.20482745e+03, -3.13992852e+01,  4.11571488e+02,
       -3.10409235e+00,  4.61964725e+01, -4.77008284e+02,  1.88455937e+05,
       -8.03224257e+04,  1.00090850e+03, -2.07901803e+04, -1.27221614e+05,
        1.10184428e+03, -2.05371072e+04,  1.62667916e+02, -2.67877776e+03,
        2.45760980e+04, -2.39479655e+04, -1.13201005e+03, -4.17679366e+04,
       -1.78407898e+01,  1.95102224e+03,  7.89468097e+03, -1.04834043e+01,
       -1.23850398e+02,  2.30139046e+03,  1.82201107e+03, -1.54259050e+06,
        3.84810029e+05,  3.31895954e+04,  1.91097543e+05,  1.74331316e+06,
       -1.67177867e+03,  1.69393012e+05, -1.08745757e+03,  2.53551643e+04,
       -2.56800120e+05,  1.07089203e+06,  3.19134562e+04,  8.44596361e+05,
       -2.82709048e+02, -2.03011421e+04, -1.47255405e+05,  1.26664047e+02,
        1.47643526e+03, -1.22021910e+04, -1.42815562e+05, -3.84783157e+05,
        1.10964952e+04,  1.66406582e+05, -2.14917761e+02, -9.63614041e+03,
        1.27729551e+05,  6.98972405e+01,  1.14629021e+03, -4.19538568e+04,
        1.08391035e+05, -7.33830456e+00, -2.13816012e+01,  1.92224618e+03,
       -4.44290171e+04,  5.26215348e+04])

In [74]:
lr.coef_

array([ 1.40797980e-01,  8.77049942e+05,  2.80751887e+05, -1.29785064e+05,
        2.76871996e+07,  1.84193631e+06,  4.15713074e+04,  1.19334294e+05,
        8.00963719e+05, -6.37039094e+04, -9.80747815e+04,  2.88005370e+06,
       -1.33320108e+06, -2.58523140e+04, -2.77122037e+05, -2.24990730e+04,
        1.85668637e+04, -7.18973423e+05,  3.18905516e+04, -7.76221734e+03,
        7.81320539e+04,  1.99021306e+04, -5.58512122e+05,  1.00637127e+05,
       -9.80432251e+03,  9.51682156e+03, -1.29993622e+07, -6.10904062e+06,
        3.47284707e+05, -5.27628150e+05,  1.50473421e+06, -6.82948519e+03,
        9.78485320e+04, -1.24863496e+04, -4.50312341e+04,  1.19334304e+05,
        6.48791820e+05, -3.89716741e+04, -6.90306677e+04,  1.64214217e+06,
       -8.17225276e+05, -1.33747865e+04, -2.15386529e+05, -1.69951278e+04,
        2.30769055e+04, -4.72080948e+05,  3.77222970e+04, -4.36040106e+03,
        2.53607746e+04,  8.67528603e+02,  1.92014924e+04,  2.93108936e+04,
       -5.98028326e+03,  1.83451175e+04, -1.38824604e+06,  7.13927110e+04,
        5.98311285e+04, -2.16938854e+05, -8.17225277e+05,  9.00147537e+04,
       -1.91335980e+05,  7.19472067e+03,  2.47265116e+04, -2.77122019e+05,
        1.42770534e+03, -3.22438812e+02,  7.58341217e+03, -7.07127610e+03,
        6.17107742e+02, -5.86745532e+02, -4.24516596e+02,  1.03369317e+04,
       -8.73834681e+03,  2.24935229e+02, -5.41124028e+03,  1.53943481e+05,
        2.57083155e+05,  2.19694930e+03,  4.61837966e+04,  6.58689588e+03,
        1.96453206e+01, -3.38893670e+03, -3.71809819e+02, -1.78143840e+03,
        7.81320534e+04, -3.47452404e+02,  1.90380565e+04, -2.62339030e+03,
        1.04360909e+02, -6.41526416e+02, -4.43313979e+05, -1.01051911e+03,
       -1.28511739e+03,  2.49424541e+04,  5.04147767e+04,  2.13320740e+03,
        6.82895090e+03,  3.51111714e+02,  2.17821685e+03,  9.51682306e+03,
        8.86692982e+06,  4.20220034e+06, -1.21126860e+05,  2.46775549e+03,
       -3.38401153e+06, -3.85695050e+04, -1.04332694e+05, -6.58792255e+03,
       -8.43749780e+03, -5.27628151e+05,  8.30330127e+05, -6.55716567e+02,
        1.19320650e+05, -2.27351230e+03, -4.11421468e+04,  9.78485320e+04,
        6.11525390e+02,  1.96293316e+03, -4.50312335e+04,  1.19334304e+05,
        3.44448011e+05,  1.04928275e+04, -1.09424352e+04, -8.33680940e+05,
        2.14726330e+05,  1.15802956e+04, -9.19155475e+04,  4.31614290e+03,
       -6.26742734e+03,  1.21366408e+05,  5.09499635e+03,  2.66888206e+03,
       -8.63799693e+03, -1.54767980e+03,  1.10350525e+05, -1.79207190e+03,
        1.29624436e+03,  2.86748116e+04, -1.07239451e+06,  1.01558825e+05,
       -4.87181506e+04, -5.68962078e+05,  2.14726330e+05, -5.69013678e+03,
        2.50454808e+04, -9.08841244e+02, -4.30034495e+03, -2.15386529e+05,
        2.59113283e+02, -1.22271411e+02,  3.55329245e+03, -4.69422247e+01,
        6.50137265e+00,  1.13114425e+03, -7.33394970e-01, -1.88104483e+03,
       -1.42017618e+03, -1.68548581e+02, -1.50855008e+03,  4.50712906e+04,
        3.20642402e+04,  4.63329761e+03,  1.10345025e+04,  5.09499635e+03,
       -1.31351942e+03, -1.88720446e+03,  5.22362481e+01,  8.24537611e+02,
        2.53607746e+04, -1.59907410e+01,  2.22123573e+03, -4.88525154e+00,
       -1.34356406e+01, -9.13730930e+01, -9.73971188e+04, -5.60005641e+02,
        5.12283061e+02, -7.01283989e+03, -1.79207189e+03,  3.88184942e+02,
        2.41374975e+03,  1.64532332e+02, -1.28753444e+03,  1.83451173e+04,
        1.21552887e+06, -2.30792943e+05,  6.88827076e+03,  2.39577585e+05,
        1.01558825e+05, -7.98481022e+03, -1.40659360e+04, -2.41454510e+03,
        1.44722092e+04, -2.16938854e+05,  2.14726330e+05, -5.69013678e+03,
        2.50454808e+04, -1.68743760e+03,  9.27593973e+03, -1.91335980e+05,
       -1.55311092e+02, -5.36928585e+02,  2.47265115e+04, -2.77122019e+05,
       -3.95096240e+01,  2.12725702e+01, -3.96468800e+02, -2.44382090e+02,
        4.27912468e+00, -1.47455230e+02, -5.54002680e+00,  2.51970025e+02,
        9.64415608e+01, -2.37402806e+01,  3.48452858e+02, -3.50854256e+03,
       -2.20431662e+03,  4.16344204e+02, -6.51803433e+03,  6.68849403e+03,
        8.72924834e+01, -2.76357321e+03, -8.04158103e+00, -3.31397789e+01,
       -5.86745660e+02, -1.61534891e+00,  2.66989194e+02, -8.68572326e+00,
        2.08823447e+00, -1.94503307e+01, -8.66038909e+03, -3.17874452e+02,
       -1.24164629e+02,  2.41602643e+03,  5.10573278e+03,  2.50156834e+02,
       -2.64644827e+02,  5.01141085e+00,  7.36714474e+01, -5.41124023e+03,
        5.30128659e+04, -6.91889626e+03,  7.16389441e+02, -2.80377452e+04,
       -1.09004609e+05, -5.41783916e+03,  1.05043273e+04, -1.50912156e+02,
       -6.05468894e+01,  4.61837966e+04, -4.40204172e+04, -4.23528527e+03,
        4.35295210e+04,  6.38622228e+01, -7.54002503e+02, -3.38893673e+03,
        9.60879331e+00,  2.77823710e+01, -1.78143842e+03,  7.81320534e+04,
       -1.22893672e-01,  1.10645891e+02, -4.65848525e+01,  3.80595338e-01,
       -1.07971483e+01, -7.70259253e+03,  4.21120389e+03, -3.52266229e+01,
        9.47454943e+02,  2.32586202e+03, -2.98982214e+01,  4.30858470e+02,
       -2.70410288e+00,  4.82978209e+01, -6.41526312e+02,  2.01165248e+05,
       -9.12101344e+04,  2.32008831e+02, -2.42344233e+04, -1.18974385e+05,
        1.09608962e+03, -2.13415726e+04,  1.47043470e+02, -2.73648409e+03,
        2.49424541e+04, -5.00299293e+04, -9.27470122e+02, -4.01548077e+04,
       -2.03369918e+01,  1.94124173e+03,  6.82895086e+03, -1.04615448e+01,
       -1.23073466e+02,  2.17821683e+03,  9.51682308e+03, -2.31905659e+06,
       -3.48929583e+04,  2.08458425e+04,  1.32162944e+05,  1.44064413e+06,
       -4.16361462e+03,  1.68579721e+05, -1.05554012e+03,  2.49043945e+04,
        2.46775551e+03,  2.06604665e+06,  2.52127382e+04,  8.11614448e+05,
       -2.78068082e+02, -2.04406560e+04, -1.04332694e+05,  1.24266853e+02,
        1.44899099e+03, -8.43749781e+03, -5.27628150e+05, -5.18478036e+05,
        1.16918203e+04,  1.62264886e+05, -1.51996903e+02, -9.95791415e+03,
        1.19320650e+05,  7.00291841e+01,  1.14254708e+03, -4.11421468e+04,
        9.78485320e+04, -7.32191220e+00, -2.24156522e+01,  1.96293321e+03,
       -4.50312336e+04,  1.19334304e+05])

In [75]:
lr.score(pf.fit_transform(x_test), y_test)

0.5619293985636111

In [81]:
lasso.score(pf.fit_transform(x_test), y_test)

0.5578475242320174

In [77]:
ridge.score(pf.fit_transform(x_test), y_test)

0.5620374864373037

In [78]:
ridge.score(pf.fit_transform(x_train), y_train)

0.5815597448486535

In [47]:
test_data = pd.read_csv('./Test.csv', index_col=0)

In [48]:
test_data.head()

,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw4,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13
id,,,,,,,,,,,,,,,,,,,,,
100000,2012-06-01,427,NaN,9,60,3,1,30.0,0.0,5,...,0,0,0,0,0,0,0,0,0,0
100001,2012-06-01,593,1.0,7,52,2,1,20.0,0.0,5,...,0,0,0,0,0,0,0,0,0,0
100002,2012-06-01,91,0.0,4,58,3,0,30.0,NaN,2,...,0,0,0,0,0,0,0,0,0,0
100003,2012-06-01,224,1.0,8,60,3,1,30.0,0.0,4,...,0,0,0,0,0,0,0,0,0,0
100004,2012-06-01,426,NaN,2,54,3,0,30.0,1.0,2,...,0,0,0,0,0,0,0,0,0,0

In [49]:
test_data.fillna(df.median(), inplace=True)

In [ ]:
#test_data.insert(1, 'year', pd.to_datetime(test_data['date']).dt.year)
#test_data.insert(2, 'month', pd.to_datetime(test_data['date']).dt.month)

In [50]:
test_data.drop(columns=['date','street_id', 'kw3','kw4','kw5','kw6','kw7','kw8', 'kw9','kw10','kw11','kw12','kw13'], 
        inplace=True)
test_data.head()

,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,kw1,kw2
id,,,,,,,,,,
100000,0.0,9,60,3,1,30.0,0.0,5,1,0
100001,1.0,7,52,2,1,20.0,0.0,5,0,1
100002,0.0,4,58,3,0,30.0,0.0,2,0,1
100003,1.0,8,60,3,1,30.0,0.0,4,0,0
100004,0.0,2,54,3,0,30.0,1.0,2,0,1

In [ ]:
#date_col = []
#for i in range(len(test_data['year'])):
#    date_col += [test_data['year'][i+100000] + test_data['month'][i+100000]/10]
#test_data.insert(1, 'date', date_col)
# test_data.head()

In [ ]:
#test_data.drop(columns=['year','month'], inplace=True)

In [51]:
test_price = ridge.predict(pf.fit_transform(test_data))

In [52]:
test_data['price'] = test_price
test_data.head()

,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,kw1,kw2,price
id,,,,,,,,,,,
100000,0.0,9,60,3,1,30.0,0.0,5,1,0,4.285614e+06
100001,1.0,7,52,2,1,20.0,0.0,5,0,1,6.272933e+06
100002,0.0,4,58,3,0,30.0,0.0,2,0,1,3.332106e+06
100003,1.0,8,60,3,1,30.0,0.0,4,0,0,4.736582e+06
100004,0.0,2,54,3,0,30.0,1.0,2,0,1,2.645978e+06

In [53]:
result = test_data['price']
result.head()

id
100000    4.285614e+06
100001    6.272933e+06
100002    3.332106e+06
100003    4.736582e+06
100004    2.645978e+06
Name: price, dtype: float64

In [54]:
result.to_csv('./learn_result.csv', sep=',', header=['price'])